# Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# Zips / build artifacts
*.zip

# Python cache
__pycache__/
*.pyc

# OS / Editor
.DS_Store

# Secrets (if any)
.env

#Secrets
*.json
!submission.json

